<%- include('../layout/header.ejs') %>	

<link rel="stylesheet" type = "text/css" href="/styles/form.scss">

 <div class="container col-12 p-5">
  <form action="<% if (edit == '1') { %>/editProduct/<%= id %><% } else if (filter == '1') { %>  /filterAction <% } else { %>  /addProduct<% } %>" method="post">

    <div class="row">
      <div class="col-12 col-md-3">
        <label for="name">Name</label>
      </div>
      <div class="col-12 col-md-9">
        <input type="text" id="name" name="name" placeholder="Souvenir name.." value = "<%= souvenir.name %>">
      </div>
    </div>

    <% if (errors.name) { %>
    <div class="row">
      <div class="col-12 col-md-3">
      </div>
      <div class="col-12 col-md-9">
        <p class = "form-error"><%= errors.name.properties.message %></p>
      </div>
    </div>
    <% } %>

    <div class="row">
      <div class="col-md-3">
        <label for="quantity">Quantity</label>
      </div>
      <div class="col-12 col-md-9">
        <input type="text" id="quantity" name="quantity" placeholder="Quantity.." value = "<%= souvenir.quantity %>">
      </div>
    </div>

    <% if (errors.quantity) { %>
      <div class="row">
        <div class="col-12 col-md-3">
        </div>
        <div class="col-12 col-md-9">
          <p class = "form-error"><%= errors.quantity.properties.message %></p>
        </div>
      </div>
      <% } %>

    <div class="row">
      <div class="col-12 col-md-3">
        <label for="barCode">Barcode</label>
      </div>
      <div class="col-12 col-md-9">
        <input type="text" id="barCode" name="barCode" placeholder="Barcode.." value = "<%= souvenir.barCode %>">
      </div>
    </div>

    <% if (errors.barCode) { %>
      <div class="row">
        <div class="col-12 col-md-3">
        </div>
        <div class="col-12 col-md-9">
          <p class = "form-error"><%= errors.barCode.properties.message %></p>
        </div>
      </div>
      <% } %>


    <% if (filter == '0') { %>
    <div class="row">
      <div class="col-12 col-md-3">
        <label for="barCode">Image URL</label>
      </div>
      <div class="col-12 col-md-9">
        <input type="text" id="imageUrl" name="imageUrl" placeholder="Image URL..." value = "<%= souvenir.imageUrl %>">
      </div>
    </div>
    <% } %>

    <% if (errors.imageUrl) { %>
      <div class="row">
        <div class="col-12 col-md-3">
        </div>
        <div class="col-12 col-md-9">
          <p class = "form-error"><%= errors.imageUrl.properties.message %></p>
        </div>
      </div>
      <% } %>

    <div class="row">
      <div class="col-12 col-md-3">
        <label for="description">Description</label>
      </div>
      <div class="col-12 col-md-9">
        <textarea id="description" name="description" placeholder="Description.." style="height:200px" ><%=souvenir.description%></textarea>
      </div>
    </div>

    <% if (errors.description) { %>
      <div class="row">
        <div class="col-12 col-md-3">
        </div>
        <div class="col-12 col-md-9">
          <p class = "form-error"><%= errors.description.properties.message %></p>
        </div>
      </div>
      <% } %>

    


    <div class="row mt-3 ml-1">
      <input type="submit" value="<% if (filter == '0') { %> 'Submit <% } else { %> Filter <% } %> ">
    </div>


  </form>
</div> 



  <%- include('../layout/footer.ejs') %>
